[user]
	name = Alexander Pinnecke
	email = alexander.pinnecke@googlemail.com
[push]
	default = simple
	followTags = true
[core]
	excludesfile = /Users/apinnecke/.gitignore_global
	mergeoptions = --no-edit
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[hub]
	protocol = ssh
[credential]
	helper = osxkeychain
