[user]
	name = Alex Klinkert
	email = alex@klinkert.io
	signingkey = A6B8DB66FE20F22B
[push]
	default = simple
	followTags = true
[core]
	excludesfile = ~/.gitignore_global
	mergeoptions = --no-edit
	autocrlf = false
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[hub]
	protocol = ssh

[status]
	submoduleSummary = true


[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	trustExitCode = true
	cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = meld
[mergetool]
	prompt = false
[mergetool "meld"]
	trustExitCode = true
	cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
[commit]
	gpgsign = true
[credential]
	helper = store
[pull]
	rebase = true
